

<%#= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%#= render "devise/shared/error_messages", resource: resource %>

  <!--<div class="field">-->
    <%#= f.label :ユーザーネーム %>
    <%#= f.text_field :email, autofocus: true, autocomplete: "user_name" %>
  <!--</div>-->

  <!--<div class="field">-->
  <!--  <%#= f.label :パスワード %>-->
  <!--  <%# if @minimum_password_length %>-->
  <!--  <em>(<%#= @minimum_password_length %> characters minimum)</em>-->
  <!--  <%# end %><br />-->
  <!--  <%#= f.password_field :password, autocomplete: "new-password" %>-->
  <!--</div>-->

  <!--<div class="field">-->
  <!--  <%#= f.label :もう一度入力して下さい %><br />-->
  <!--  <%#= f.password_field :password_confirmation, autocomplete: "new-password" %>-->
  <!--</div>-->
  
  <!--初めてご利用される方は必ず <%#= link_to "利用規約", music_clue_agreement_path %> をご確認ください-->
  <!--<div class="field text-left">-->
  <!--  <%#= f.check_box :accepted ,{},checked_value = "true",unchecked_value = "false" %>-->
  <!--  <#%= f.label '利用規約に同意する' %>-->
  <!--</div>-->




  <!--<div class="actions">-->
  <!--  <%#= f.submit "新規登録をする" %>-->
  <!--</div>-->
<%#= render "devise/shared/links" %>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="container">
    <div class="card-container">
      <div class="card-body">
          <h3 class="card-title text-center mb-4 mt-1"><strong>新規登録</strong></h3>
          <hr>
          <form>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                      <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                    </svg>
                  </span>
                </div>
                <%= f.label :ユーザーネーム %><br />
                <%= f.text_field :email, autofocus: true, autocomplete: "user_name" %>
              </div> <!-- input-group.// -->
            </div> <!-- form-group// -->          
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                      <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/>
                    </svg> 
                  </span>
                </div>             
                <%= f.label :パスワード %>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> 文字以上入力して下さい)</em>
                  <% end %><br />
                  <%= f.password_field :password, autocomplete: "new-password" %>
             </div> <!-- input-group.// -->
            </div> <!-- form-group// -->
            
             <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                      <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/>
                    </svg> 
                  </span>
                </div>       
                  <%= f.label :もう一度入力して下さい %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
              </div> <!-- input-group.// -->
             </div> <!-- form-group// -->
             
              <div class="form-group">
               <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-body-text" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M0 .5A.5.5 0 0 1 .5 0h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 0 .5Zm0 2A.5.5 0 0 1 .5 2h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5Zm9 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm-9 2A.5.5 0 0 1 .5 4h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Zm5 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm7 0a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Zm-12 2A.5.5 0 0 1 .5 6h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5Zm8 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm-8 2A.5.5 0 0 1 .5 8h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm7 0a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5Zm-7 2a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8a.5.5 0 0 1-.5-.5Zm0 2a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5Zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5Z"/>
                    </svg>
                  </span>
                </div>       
                   初めてご利用される方は必ず <%= link_to "利用規約", music_clue_agreement_path %> をご確認ください
               </div> <!-- input-group.// -->
              </div> <!-- form-group// -->
              
              <div class="form-group">
               <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                      <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                    </svg> 
                  </span>
                </div>       
                    <div class="field text-left">
                      <%= f.check_box :accepted ,{},checked_value = "true",unchecked_value = "false" %>
                      <%= f.label '利用規約に同意する' %>
                    </div>
              </div> <!-- input-group.// -->
            </div> <!-- form-group// -->
            <div class="form-group">
              <%= f.submit "登録する", class: "btn btn-outline-secondary btn-block" %>
            </div> <!-- form-group// -->
          </form>
      </div>
    </div>
  </div>
  <% end %>
  
  <%= render "devise/shared/links" %>