<h2><strong>新規登録</strong></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :ユーザーネーム %><br />
    <%= f.text_field :email, autofocus: true, autocomplete: "user_name" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :もう一度入力して下さい %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  
  初めてご利用される方は必ず <%= link_to "利用規約", music_clue_agreement_path %> をご確認ください
  <div class="field text-left">
    <%= f.check_box :accepted ,{},checked_value = "true",unchecked_value = "false" %>
    <%= f.label '利用規約に同意する' %>
  </div>




  <div class="actions">
    <%= f.submit "新規登録をする" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
