<h2>いいね一覧</h2>
<% @favorite_posts.each do |favorite| %>
 <%= link_to user_path(favorite.user.id), class: "rounded-circle" do %> 
    <%= image_tag(favorite.user.get_user_icon) %>
    <% end %>
 <%= link_to favorite.user.email, user_path(favorite.user.id) %>
 <%= favorite.music_title %>
 <%= favorite.music_url %>
 <%= favorite.music_artist_name %>
 <%= favorite.music_genre %>
 <%= link_to "レビュー詳細へ", review_path(favorite.id) %>
<% end %>