<h2><strong>ユーザー詳細</strong></h2>
<%= image_tag @user.user_icon, class: "rounded-circle" %>
<%= @user.user_name %>
<%= @user.user_id %>
いいねは最後
<%= link_to "ユーザー編集", edit_user_path(@user.id) %>

<% @review.each do |review| %>
 <%= link_to image_tag @user.user_icon, user_path(@user.id), class: "rounded-circle" %>
 <%= link_to @user.user_name, user_path(@user.id) %>
 <%= review.music_title %>
 <%= review.music_url %>
 <%= review.music_artist_name %>
 <%= review.music_genre %>
 <%= link_to "レビュー詳細へ", review_path(@review.id) %>
 <% end %>
 <!--<%= link_to "ユーザーを消去する", users_ending_path %>-->
 <%= paginate @reviews %>

