<div class="card-list-container py-5">
    <h2 class="col">検索結果</h2>
     <div class="card w-50 mx-auto mt-4 shadow-lg">
                              <!--検索対象モデルがUserの時 -->
        <% if @range == "User" %>
      <div class="row">
                  <% @users.each do |user| %>
                   <div class="col-md-2" style="padding: 20px;">
                    <%= link_to user_path(user.id) do %> 
                       <%= image_tag user.get_user_icon, class: "rounded-circle" %>
                      <% end %>
                    </div>
                     <div class="card-body">
                         <%= user.email %>
                     </div>
                      <% end %>
      </div>                    
                                 
                              <% else %>
                                <!--検索対象モデルがUserではない時(= 検索対象モデルがBookの時) -->
                                

                                  <% @reviews.each do |review| %>
      <div class="row">
        <div class="col-md-2" style="padding: 20px;">
             <%= link_to user_path(review.user.id) do %> 
              <%= image_tag review.user.get_user_icon, class: "rounded-circle"  %>
             <% end %>
        </div>
    <div class="card-body">
         
          <div class="col">
           <ul class="list-unstyled">
            <li class="list-item"><%= link_to review.user.email, user_path(review.user.id) %></li>
            <li class="list-item">曲名  <%= review.music_title %></li></br>
            <li class="list-item">URL    <%= review.music_url %></li>
            <li class="list-item">アーティスト    <%= review.music_artist_name %></li>
            <li class="list-item">ジャンル    <%= review.music_genre %></li>
           </ul>
          </div>
          
    </div>
         <div class="col">
          <%= review.created_at.strftime('%Y/%m/%d %H:%M') %>
         </div>
        </div>
         <div class="card-footer">
             <%= link_to "レビュー詳細へ", review_path(review.id) %>
         </div>
          <% end %>
      <% end %>
     </div>
</div>