<h3><strong>投稿</strong></h3>
<%= form_with model: @review,url: reviews_path  do |f| %>
<p>曲名</p>
<%= f.text_field :music_title %>

<p>URL</p>
<%= f.text_field :music_url %>

<p>アーティスト名</p>
<%= f.text_field :music_artist_name %>

<p>ジャンル</p>
<%= f.text_field :music_genre %>

<p>レビュー本文</p>
<%= f.text_area :music_review %>

 <%= f.submit '投稿する' %>

