                    <%#= @review_user.get_user_icon%>
                    <%#= image_tag @review_user.get_user_icon, class: "rounded-circle" %>
    <div class="container">    
            <h2 class="col">レビュー詳細</h2>
                <div class="row">
                  <div class="col-2">
                    <%= link_to user_path(@review_user.id) do %> 
                        <%= image_tag @review_user.get_user_icon, class: "rounded-circle" %>
                        <% end %>
                  </div>
                   

                
                 <div class="col-6"><%= @review_user.email %></div>
                 <div class="col-1">
                    <% if user_signed_in? %>
                     <% if @review.favorited_by?(current_user) %>
                            <p>
                              <%= link_to review_favorite_path(@review), method: :delete do %>
                                <i class="fas fa-thumbs-up fa-3x"></i>
                              <% end %>
                            </p>
                     <% else %>
                            <p>
                              <%= link_to review_favorites_path(@review), method: :post do %>
                                <i class="far fa-thumbs-up fa-3x"></i>
                              <% end %>
                            </p>
                     <% end %>
                    <% end %>
                     
                 </div>
                  <div class="col-3">
                    <p>投稿日時</p>
                    <%= @review.created_at %>
                  </div>
                </div>
                
            <div class="row">
                <div class="col-2"></div>
                <div class="10">
                  <ul class="list-group list-group-flush">
                   <li class="list-group-item">曲名　　　　<%= @review.music_title %></li>
                    
                    <li class="list-group-item">URL　　　　<%= @review.music_url %></li>
                    
                    <li class="list-group-item">アーティスト名　　　　<%= @review.music_artist_name %></li>
                    
                    <li class="list-group-item">ジャンル　　　　<%= @review.music_genre %></li>
                    
                  </ul>
                  <ul class="list-group">
                    レビュー
                    <li class="list-group-item"><%= @review.music_review %></li>
                  </ul>
                </div>
            </div>
                   
                   <div class="row">
                     <div class="col-6"></div>
                     <div class="col-6">
                      <% if user_signed_in? %>
                         <% if current_user == @review_user || current_user.admin_flag? %>
                       <button type="button" class="btn btn-secondary" style="margin: 20px;">
                           <%= link_to "レビューを編集する", edit_review_path(@review.id) %>
                       </button>
                       <button type="button" class="btn btn-danger" style="margin: 20px;">
                           <%= link_to "レビューを削除する", review_path(@review.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
                       </button>
                         <% end %>
                        <% end %>
                     </div>
                   </div>
                </div>
    </div>        
            
    <div class="container">    
                 <div class="row">
                 <div class="col-4"></div>
                 <div class="col-8">
                  <% if user_signed_in? %>
                         コメントを送信
                            <%= form_with url: @review.id.to_s + "/comment", model: Comment.new, method: :post do |f| %>
                             <%= f.text_area :comment %>
                            <%= f.submit '送信' %>
                        
                            <% end %>
                           <% end %>
                 </div>
                </div>

                    <div class="card-list-container py-5">
                     <div class="card w-53 mx-auto mt-4 shadow-lg">
                        <% @review.comments.each do |comment| %>
                      <div class="row">
                       <div class="col-md-2" style="padding: 20px;">
                        <%= link_to user_path(comment.user.id) do %> 
                        <%= image_tag comment.user.get_user_icon, class: "rounded-circle" %>
                       </div>
                       <% end %>
                       <div class="card-body">
                        <div class="col">
                         <ul class="list-unstyled">
                           <li class="list-item"><%= comment.user.email %></li>
                           <li class="list-item"><%= comment.comment %></li>
                         </ul>
                        
                      
                      
                         <%= comment.created_at.strftime('%Y/%m/%d %H:%M') %>
                       
                       
                          </div>
                       </div>
                     </div>
                     <% end %>
                    </div>
                        <div class="d-flex align-items-center justify-content-center"><%= paginate @comments %></div>
</div>