<%= @review_user.user_icon %>
<%= @review_user.user_name %>

<h2>レビュー詳細</h2>
<p>投稿日時</p>
<%= @review.created_at %>

<p>曲名</p>
<%= @review.music_title %>

<p>URL</p>
<%= @review.music_url %>

<p>アーティスト名</p>
<%= @review.music_artist_name %>

<p>ジャンル</p>
<%= @review.music_genre %>

<p>レビュー</p>
<%= @review.music_review %>

<%= link_to "レビューを編集する", edit_review_path(@review.id) %>
<%= link_to "レビューを削除する", review_path(review.id) %>

<p>コメントを送信</p>
<%= form_with model: [@review, @comment]  do |f| %>
 <%= f.text_area :comment %>
 <%= f.submit '送信' %>

<% end %>

<% @review.comments.each do |comment| %>
<p><%= link_to image_tag comment.user.user_icon,  class="rounded-circle" %></p>
<p>投稿日時</p>
<%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
<%= comment.comment %>
<% end %>
<%= paginate @comments %>